body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;
    
}
button {
    background-color: #3ed822;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
    border-radius: 5px;
}
button:hover {
    background-color: #5a3e2b;
}
img {
    display: block;
    margin: 20px auto;
   width: 380px;
   height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
p{
    text-align: center;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.prev{
background-color: rgb(201, 9, 9);
}
.next{
    background-color: blue;
}


@media (max-width: 480px) {
 img{
  
   width: 300px;
   height: 350px;
   
 }
}